.garph-container{
    display: flex;
    flex-direction: row;
    height: 340px;
    gap: 100px;
    padding: 20px;
    padding-bottom: 70px;
}
.sing-garph h1{
   font-family: arial;
   font-size: 20px;
   margin-bottom: 5px;
   font-weight: 200;
   color: #ada8a8;
}