.main-admin {
    display: flex;

}

.main-admin .notfication-main {
    margin-left: 210px;
}

.sidebar-container {
    width: 210px;
    position: fixed;

    background-color: #161616;
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sidebar-container .logo-ad {
    height: 80px;
    width: 80px;
}

.logo-ad img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar-container ul li {
    list-style: none;
    display: flex;
    width: 80%;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    color: #fff;
    /* border-top: 1px solid #111;
    border-bottom: 1px solid #111; */
    font-weight: 200;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: arial;
    min-height: 50px;
    flex-direction: column;
}
.sidebar-container ul li:hover{
    background-color: #0a0a0a;
    border-radius: 10px;

}

.sidebar-container ul {
    margin-top: 40px;
}

li .main-li {
    display: flex;
    gap: 1rem;

}

.main-li img {
    height: 40px;
}

.main-li p {
    font-size: 19px;

}

.lists {
    margin-left: 30px;
    margin-right: 5px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    gap: 1rem;
    transition: 1s all ease-in-out;
    border-radius: 5px;
    display: none;
}
.lists p{
    padding: 10px 5px;
}
.lists p:hover{
    background-color: #111;
    border-radius: 10px;
}

.lists.active {
    display: block;
}

.main-li .ico {
    font-size: 25px;
    color: #e4dfdf9a;
    overflow: hidden;
}

.main-li .ico-d {
    font-size: 18px;
}

.notfication-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.notfication-main .admin {
    max-width: 100%;
    position: relative;
    background-color: #0e0d0d;
    padding: 10px;
    gap: 2rem;
    justify-content: end;
    display: flex;
}
.bar{
    position: absolute;
    top: 20px;
    gap: 1.5rem;
    color: #727171;
    font-family: cursive;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}
.bar p span{
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    font-style: normal;
    font-family: arial;
}

.admin .search-any {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 200px;
    background-color: #161616;
    border-radius: 40px;
    padding: 10px 30px;

}

.search-any input::placeholder {
    font-family: sans-serif;
    font-size: 14px;
}

.search-any input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: arial;
    color: #fff;
}
.basic-set{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profole-admin {
    height: 50px;
    border: 3px solid #292828;
    border-radius: 50%;

    width: 50px;
}
.profole-admin.user-cell{
    height: 27px;
    width: 27px;
}

.profole-admin img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}